.choices {
    z-index: 3;
    margin: 0 auto 120px;
    width: 650px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choices__one-card-spread {
    width: 400px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choices__list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.choices__button {
    width: 140px;
    height: 220px;
    border-radius: 10px;
    border: 2px solid #fff;
}

.choices__button-one-card-spread {
    width: 110px;
    height: 180px;
    border-radius: 5px;
    margin: -25px auto 0;
}

.choices__disabled {
    opacity: 75%;
}

.choices__button--emerald {
    background-image: linear-gradient(-45deg, rgb(22, 213, 22), rgb(179, 255, 179), rgb(22, 213, 22));
    border-color: green;
    box-shadow: 0 0 4px green;
} 

.choices__button--emerald:hover {
    background-image: linear-gradient(-45deg, #94ef7f, #dbffd3, #94ef7f);
    background-color: #94ef7f;
    border-color: rgb(29, 187, 29);
    box-shadow: 0 0 15px rgb(191, 255, 186);
}

.choices__button--emerald:active {
    background-image: linear-gradient(-45deg, #b3ef7f, #dbffd3, #c2ef7f);
    background-color: #c6ef7f;
    border-color: rgb(97, 187, 29);
    box-shadow: 0 0 20px rgba(255, 217, 0, 0.74);
}

.choices__button--saphire {
    background-color: rgb(90, 90, 234);
    border-color: blue;
} 

.choices__button--saphire:hover {
    background-color: rgb(149, 149, 249);
    border-color: rgb(66, 66, 255);
}

.choices__button--ruby {
    background-color: rgb(255, 111, 111);
    border-color: red;
} 

.choices__button--ruby:hover {
    background-color: rgb(255, 163, 163);
    border-color: rgb(184, 0, 0);
}

@media screen and (max-width: 900px) {
    .choices {
        margin-bottom: 20px;
        width: 400px;
        gap: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .choices__button {
        width: 110px;
        height: 180px;
        border-radius: 10px;
        border: 1px solid #fff;
        box-shadow: 0 0 10px white;
    }

    .choices__one-card-spread {
        width: 250px;
        gap: 5px;
        padding: 0;
    }

    .choices__button-one-card-spread {
        width: 80px;
        height: 130px;
        border-radius: 5px;
        margin: -20px auto 0;
    }
}