.choices {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5%;
    z-index: 2;
}

.button {
    font-size: 1.2rem;
    width: 40%;
    padding: 5% 11%;
    border-radius: 25%;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.emerald {
    background-image: linear-gradient(-45deg, rgb(22, 213, 22), rgb(179, 255, 179), rgb(22, 213, 22));
    border: 10px outset green;
} 

.emerald:hover {
    background-image: linear-gradient(-45deg, #94ef7f, #dbffd3, #94ef7f);
    background-color: #94ef7f;
    border: 10px outset rgb(29, 187, 29);
}

.emerald:hover {
    background-image: linear-gradient(-45deg, #94ef7f, #dbffd3, #94ef7f);
    background-color: #94ef7f;
    border: 10px outset rgb(29, 187, 29);
}

.saphire {
    background-color: rgb(90, 90, 234);
    border: 10px outset blue;
} 

.saphire:hover {
    background-color: rgb(149, 149, 249);
    border: 10px outset rgb(66, 66, 255);
}

.ruby {
    background-color: rgb(255, 111, 111);
    border: 10px outset red;
} 

.ruby:hover {
    background-color: rgb(255, 163, 163);
    border: 10px outset rgb(184, 0, 0);
}





@media screen and (max-width: 630px) {
    .button {
        font-size: 0.65rem;
    }

    .emerald {
        border: 5px outset green;
    } 

    .emerald:hover {
        border: 5px outset rgb(29, 187, 29);
    }

    .saphire {
        border: 5px outset blue;
    } 

    .saphire:hover {
        border: 5px outset rgb(66, 66, 255);
    }

    .ruby {
        border: 5px outset red;
    } 

    .ruby:hover {
        border: 5px outset rgb(184, 0, 0);
    }
}