.divider {
    height: 10px;
    width: 90%;
    background-image: linear-gradient(45deg, rgb(194, 136, 0), rgb(248, 195, 71), rgb(194, 136, 0));
    border-color: black;
    margin: 1% auto;
}

@media screen and (max-width: 630px) {
    .divider {
        height: 5px;
    }
}