.fortune-one {
    color: rgb(255, 255, 255);
    /*-webkit-background-clip: text;
    -webkit-text-stroke: 0.5px black;*/
    width: 80%;
    margin: 0 auto;
    text-align: center;
    text-wrap: wrap;
    font-size: 25px;
}

.spiritual-fortune {
    font-family: Akronim;
}

.background-god {
    width: 80%;
    padding: 0 10%;
}

@media screen and (max-width: 630px) {
    .fortune-one {
        font-size: 15px;
    }
}
 
@media screen and (max-width: 430px) {
    .fortune-one {
        font-size: 15px;
    }
}