.fortune-teller {
    margin-top: 100px;
    font-family: BadUnicorn;
    -webkit-text-stroke: .01px black;
    color: white;
}





.fortune-teller__welcome-card {
    text-align: center;
}

.fortune-teller__welcome-card-title {

}

.fortune-teller__welcome-card-main-title {

}

.fortune-teller__welcome-card-welcome-to {
    font-size: 75px;
}

.fortune-teller__welcome-card-name {
    font-size: 100px;
    background-image: radial-gradient(circle, rgba(250, 250, 250, 0.7) 0%, transparent 75%);
    overflow:visible;
}