.header {
    box-sizing: border-box;
    position: fixed;
    top: -11px;
    background-color: rgba(255, 232, 80, 0.9);
    border-radius: 10px 10px 50px 50px;
    border: outset 10px blue;
    z-index: 4;
    margin: 0 auto;
    width: 80%;
    left: 10%;
    right: 10%;
    max-width: 630px;
}

.header_title {
    font-family: 'Monotype Corsiva';
    font-size: 60px;
    color: #ff0000;
    text-shadow: 5px 5px 5px #00000071;
    text-align: center;
    margin: 1% auto;
    text-wrap: nowrap;
}

@media screen and (max-width: 630px) {

    .header {
        border-width: 8px;
    }

    .header_title {
        font-size: 40px;
        text-shadow: 3px 3px 3px #00000071;
        margin: 15px;
    }
}

@media screen and (max-width: 430px) {

    .header {
        border-width: 6px;
    }

    .header_title {
        font-size: 20px;
        text-shadow: 2.5px 2.5px 2.5px #00000071;
        margin: 10px;
    }
}