.loading {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    font-family: Carima;
    color: red;
    padding: 10px;
    margin: 25% auto;
}

.loading_msg {
    box-sizing: border-box;
    text-align: center
}

@media screen and (max-width: 630px) {
    .loading {
        font-size: 30px;
    }
}