.one-card-spread {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10% auto;
}

.card-image {
    max-width: 250px;
    width: 40%;
    margin: 20px auto;
    border: solid 5px rgba(255, 255, 255, 0.75);
}

.card-descriptions {
    max-width: 250px;
    margin: -17.5% auto 10%;
    color: rgb(34, 34, 0);
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0) inset;
    border-radius: 50%;
    padding: 10%;
    font-size: 15px
}

@media screen and (max-width: 630px) {
    .card-descriptions {
        font-size: 10px;
    }
}