html {
    scrollbar-width: none;
    margin: 0 auto;
}

.page {
    background-color: #4a6752;
    margin: 0 auto;
}

h2, h3, h4, p {
    margin: 0px;
}

button {
    font-family: BadUnicorn;
    font-size: 30px;
}

@media screen and (max-width: 900px) {
    button {
        font-size: 25px;
    }
}