.snoopy-welcome-deco {

}

.snoopy-welcome-deco-left {

}

.snoopy-welcome-deco-middle {

}

.snoopy-welcome-deco-right {

}

.snoopy-welcome-fortune-table {
    height: 175px;
    width: 50%;
    border-radius: 50%;
    border-bottom: 10px solid rgb(73, 104, 71);
    background-color: rgb(110, 149, 108);
    margin: -35px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}

@media screen and (max-width: 900px) {
    .snoopy-welcome-deco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: -25px auto 0;
        

    }

    .snoopy-welcome-deco-left {
        width: 100px;
        margin: 0 auto
    }

    .snoopy-welcome-deco-middle {
        width: 200px;
        margin: 0 auto;
    }

    .snoopy-welcome-deco-right {
        display: none;
    }

    .snoopy-welcome-fortune-table {
        width: 80%;
        height: 130px;
        margin-top: -30px
    }
}