.snoopy {
    border: none;
    width: 60%;
    z-index: 2
}

.snoopy_1 {
    margin: -10% auto 0;
}

.snoopy_2 {
    margin: 30% auto 0;

}

.snoopy_name {
    font-size: 45px;
    margin: 8% 0 0;
}

.snoopy-says {
    text-align: center;
    margin: 0 10%;
    font-family: Carima;
    text-wrap: wrap;
}

.top-line {
    font-size: 30px;
    margin-top: -10%
}

.bottom-line {
    font-size: 20px;
}

.background-gold {
    background-color: rgba(155, 145, 93, 0.55);
    padding: 10px;
    max-width: 410px;
    width: 80%
}

.new-selection {
    margin-top: 100px;
}

@media screen and (max-width: 630px) {
    .snoopy-says {
        font-size: 30px;
    }

    .snoopy_name {
        font-size: 30px
    }

    .top-line {
        font-size: 16px;
    }

    .bottom-line {
        font-size: 12px;
    }
}

@media screen and (max-width: 430px) {
    .snoopy-says {
        font-size: 24px;
    }

    .top-line {
        font-size: 10px;
    }

    .bottom-line {
        font-size: 5px;
    }
}