.snoopy {
    border: none;
    z-index: 2
}

.snoopy_1 {
    margin: -10% auto 0;
    width: 60%;
}

.snoopy_2 {
    width: 75%;
    box-sizing: border-box;
    border: 10px solid rgb(128, 98, 0);
    border-radius: 50%;
    margin: 0 auto;
}

.snoopy_name {
    font-size: 45px;
    margin: 5% 0 0;
}

.snoopy-says {
    text-align: center;
    margin: 0 auto;
    font-family: Carima;
    text-wrap: wrap;
    font-size: 35px;
}

.shop-name {
    font-size: 60px;
}


.top-line {
    font-size: 30px;
    margin-top: -10%
}

.bottom-line {
    font-size: 20px;
}

.background-gold {
    background-color: rgba(155, 145, 93, 0.55);
    padding: 10px;
    max-width: 410px;
    width: 80%
}

@media screen and (max-width: 630px) {
    .snoopy-says {
        font-size: 25px;
    }

    .shop-name {
        font-size: 50px;
        margin: 0 5%;
    }
}
/*
@media screen and (max-width: 430px) {
    .snoopy-says {
        font-size: 24px;
    }

    .top-line {
        font-size: 10px;
    }

    .bottom-line {
        font-size: 5px;
    }
}
    */