.carima {
    font-family: Carima;
}

.rainbow-text {
    color: white;
    text-shadow:
        3px 3px violet,
        2px 2px indigo,
        1px 1px blue,
        -1px -1px green,
        -2px -2px orange,
        -3px -3px red;
}

.underline {
    text-decoration: underline;
}

.headline {
    font-size: 40px;
}

.nogap {
    margin: 0 auto;
}

.reversed {
    color: rgb(254, 160, 160);
}
.break {
    margin: 1% auto ;
    width: 80%;
    border: dotted rgb(255, 138, 138)
}