.your-card {
    margin: 15% auto 100px;
    max-width: 620px;
    min-height: 100%;
    background-color: rgba(255, 232, 80, 0.9);
    border-radius: 250px 250px 20px 20px;
    border: outset 10px rgb(29, 29, 91);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 630px) {
    .your-card {
        max-width: 260px;
    }
}