.main {
}

.your-card {
    margin: 100px auto 0;
    width: 80%;
    max-height: 100%;
    max-width: 540px;
    background-color: rgba(255, 232, 80, 0.9);
    border-radius: 300px 300px 20px 20px;
    border: outset 10px rgb(29, 29, 91);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 630px) {
    .your-card {
    }
}

@media screen and (max-width: 630px) {
    .your-card {
        min-width: 400px;
    }
}