@import url(../blocks/backdrop.css);
@import url(../blocks/backboard.css);
@import url(../blocks/background.css);
@import url(../blocks/bubble.css);
@import url(../blocks/buttons.css);
@import url(../blocks/choices.css);
@import url(../blocks/content.css);
@import url(../blocks/divider.css);
@import url(../blocks/FiveCardSpread.css);
@import url(../blocks/fortune.css);
@import url(../blocks/header.css);
@import url(../blocks/loading.css);
@import url(../blocks/OneCardSpread.css);
@import url(../blocks/page.css);
@import url(../blocks/sign.css);
@import url(../blocks/snoopy.css);
@import url(../blocks/tarotCard.css);
@import url(../blocks/textdecos.css);
@import url(../blocks/welcome.css);
@import url(../blocks/yourcard.css);
@import url(../vendor/fonts.css);